#root {
    display: flex;
    justify-content: center;
    margin: 50px 0px 100px 0px;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid green;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}